/* CSS Document */
body {background:url(../images/background2.jpg); margin:25px 0; padding:0; font-family:Arial, Helvetica, sans-serif}


#header {height:134px; background:url(../images/header.jpg) top left no-repeat; position:relative; font-family: 'Oswald', sans-serif; }
#header h2 {padding:30px 0 0 126px; margin:0; font-size:40px; text-shadow: 4px 4px 4px #535353; text-transform:uppercase;color:#fff;}
#header p {padding:0px 0 0 126px; margin:0; text-transform:uppercase; color:#fff;}
#header ul {margin:0; padding:0; list-style-type:none; position:absolute; right:0; bottom:40px; }
#header li {background-color:#000; float:left; padding:3px 20px;}
#header a {color:#fff; font-size:14px; text-decoration:none;}
#header a:hover {color:#A0EC4B;}

#container {background-color:#fff; padding-top:25px; padding-bottom:25px}

#container h1 {color:#2d3b00; font-family: 'Oswald', sans-serif; font-size:1.75em;}
#container h2 {color:#353535; font-family: 'Oswald', sans-serif; font-size:1.3em;}
#container h3 {color:#4a6105; font-size:1em;}
#container p {color:#696969; font-size:.9em; line-height: 1.5em;}
#container li {color:#696969; font-size:.9em;}

#rightcol ul {list-style-type: none; padding-left: 0; margin-left: 0}
#rightcol li {margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #bbb;}

#footer p, #footer a {color:#bdbdbd; font-size:9px; text-decoration:none;}