<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>{{page.title}}</title>
    <link href="assets/css/brewnion.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <meta name="description" content="Brewnion Colony home brew club meets every  first tuesday at Pitchers' Brewpub in Greeley, Colorado. The group is made up of beer, wine and cider makers from northern colorado." />
</head>

<body>

<div id="page">
  <div id="subheader">
    <p>Next meeting will be February 7th, 2011 at Pitchers Brewery</p>
  </div>
  <div id="header">
  	<h2>Brewnion Colony</h2>
    <p>Homebrew Club, Greeley, Colorado</p>
    <ul>
    	<li><a href="index.html">Home</a></li>
        <li><a href="about">About</a></li>        
        <li><a href="https://www.facebook.com/groups/68920666101/" target="_blank">Facebook</a></li>
    </ul>
  </div>
  <div id="container">
    <div id="content">
      {{ content }}
    </div>
    <div id="rightcol">
    	<h2>Upcoming Events</h2>
    	<h3>October 4th, 2011</h3>
   	  <p>October Meeting at Pitchers 6:30-7:00pm start time.</p>
   	  <h3>October 30th, 2011</h3>
   	  <p>Dark and Scary - Members only party. Chili Theme; bring a beer and a chili dish that pairs well together.</p>
    </div>
  </div>
</div>
<div id="footer">
	<p>&copy;2011 Brewnion Colony | Site Design: <a href="http://JessClark.com" target="_blank">Jesse Clark</a></p>
</div>

</body>
</html>
