<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>{{page.title}}</title>
    <link href="/assets/css/foundation.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/brewnion.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <meta name="description" content="Brewnion Colony home brew club meets every  first tuesday at Pitchers' Brewpub in Greeley, Colorado. The group is made up of beer, wine and cider makers from northern colorado." />
</head>

<body>

<div class="row">
  <div class="small-12 columns header">
  	<h2>Brewnion Colony</h2>
    <p>Homebrew Club, Greeley, Colorado</p>
  </div>
</div>

<div class="row navigation">
    <div class="small-12 columns">
        <ul>
    	   <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>        
        <li><a href="https://www.facebook.com/groups/68920666101/" target="_blank">Facebook</a></li>
    </ul>
    </div>
</div>

<div class="row container">
    <div class="medium-8 columns">
      {{ content }}
    </div>
    <div  class="medium-3 medium-offset-1 columns rightcol">
    	{% include meetings.html %}
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns footer">
    <p class="text-center">&copy;2015 Brewnion Colony</p>
  </div>
</div>

</body>
</html>
